In [1]:
import sqlite3

In [2]:
query = "SELECT * FROM users;"

conn = sqlite3.connect("datastore.db")

cursor = conn.cursor()

results = cursor.execute(query)

In [4]:
list(results)

[(2,
  'A',
  'ad@b.c',
  'Sdkje31!@',
  'Sdkje31!@',
  '2022-12-12T15:25:25',
  '2022-12-12T15:26:20'),
 (3, 'B', 'b@b.c', 'Sdkje31!@', 'Sdkje31!@', None, None)]

In [5]:
results = cursor.execute(query)
results.fetchall()

[(2,
  'A',
  'ad@b.c',
  'Sdkje31!@',
  'Sdkje31!@',
  '2022-12-12T15:25:25',
  '2022-12-12T15:26:20'),
 (3, 'B', 'b@b.c', 'Sdkje31!@', 'Sdkje31!@', None, None)]

In [6]:
results = cursor.execute(query)
results.fetchone()

(2,
 'A',
 'ad@b.c',
 'Sdkje31!@',
 'Sdkje31!@',
 '2022-12-12T15:25:25',
 '2022-12-12T15:26:20')

In [7]:
results = cursor.execute(query)
results.fetchmany(10)

[(2,
  'A',
  'ad@b.c',
  'Sdkje31!@',
  'Sdkje31!@',
  '2022-12-12T15:25:25',
  '2022-12-12T15:26:20'),
 (3, 'B', 'b@b.c', 'Sdkje31!@', 'Sdkje31!@', None, None)]

In [8]:
query = "SELECT id, name, email, password FROM users;"
results = cursor.execute(query)
results.fetchall()

[(2, 'A', 'ad@b.c', 'Sdkje31!@'), (3, 'B', 'b@b.c', 'Sdkje31!@')]

In [15]:
query = """
    SELECT
        u1.name as sender,
        u2.name as recipient,
        transactions.created_at,
        amount
    FROM
        transactions
    JOIN users u1 ON u1.id = transactions.user_id
    JOIN users u2 ON u2.id = transactions.recipient_id;
    """
results = cursor.execute(query)
results.fetchall()

[('A', 'B', '2022-10-01T22:22:00', 123.41),
 ('A', 'B', '2022-10-15T22:22:00', 245.41),
 ('A', 'B', '2022-10-21T22:22:00', 133.41),
 ('B', 'A', '2022-12-01T22:22:00', 2051.41),
 ('B', 'A', '2022-12-10T21:20:11', 1234.12),
 ('B', 'A', '2022-12-10T21:20:11', 1234.12)]

In [13]:
results = cursor.execute(query)
results.fetchmany(2)

[('A', 'B', '2022-10-01T22:22:00', 123.41),
 ('A', 'B', '2022-10-15T22:22:00', 245.41)]

In [16]:
query_insert = """INSERT INTO transactions(user_id, recipient_id, amount, created_at)
VALUES (3, 2, 1234.12, '2022-12-10T21:20:11')"""
cursor.execute(query_insert)
conn.commit()
results = cursor.execute(query)
results.fetchall()

[('A', 'B', '2022-10-01T22:22:00', 123.41),
 ('A', 'B', '2022-10-15T22:22:00', 245.41),
 ('A', 'B', '2022-10-21T22:22:00', 133.41),
 ('B', 'A', '2022-12-01T22:22:00', 2051.41),
 ('B', 'A', '2022-12-10T21:20:11', 1234.12),
 ('B', 'A', '2022-12-10T21:20:11', 1234.12),
 ('B', 'A', '2022-12-10T21:20:11', 1234.12)]

In [17]:
query_update = """
    UPDATE users
    SET
        name = 'User 2'
    WHERE
        name = 'B';
    """
cursor.execute(query_update)
conn.commit()

In [18]:
results = cursor.execute(query)
results.fetchall()

[('A', 'User 2', '2022-10-01T22:22:00', 123.41),
 ('A', 'User 2', '2022-10-15T22:22:00', 245.41),
 ('A', 'User 2', '2022-10-21T22:22:00', 133.41),
 ('User 2', 'A', '2022-12-01T22:22:00', 2051.41),
 ('User 2', 'A', '2022-12-10T21:20:11', 1234.12),
 ('User 2', 'A', '2022-12-10T21:20:11', 1234.12),
 ('User 2', 'A', '2022-12-10T21:20:11', 1234.12)]

In [19]:
query_delete = "DELETE FROM users WHERE id = 3;"
cursor.execute(query_delete)
conn.commit()

In [20]:
results = cursor.execute(query)
results.fetchall()

[]

In [21]:
query_select_transactions = "SELECT * FROM transactions;"
results = cursor.execute(query_select_transactions)
results.fetchall()

[(1, 2, 123.41, '2022-10-01T22:22:00', 3),
 (2, 2, 245.41, '2022-10-15T22:22:00', 3),
 (3, 2, 133.41, '2022-10-21T22:22:00', 3),
 (4, 3, 2051.41, '2022-12-01T22:22:00', 2),
 (5, 3, 1234.12, '2022-12-10T21:20:11', 2),
 (6, 3, 1234.12, '2022-12-10T21:20:11', 2),
 (7, 3, 1234.12, '2022-12-10T21:20:11', 2)]